# 1. Ignore everything
*

# But this...
!.gitignore
!bootstrap.sh
!.zshrc
!.config/
!.config/starship/
!.config/starship/*
!tools-specific.common.txt
!tools.common.txt
!apt-packages.common.txt
!setup-instructions.common.txt
!.config/nvim/
!.config/nvim/*
